.search-box {
    position: relative;
    &__input {
        border: 1px solid $c-accent2;
        width: 100%;
        height: 48px;
        display: flex;
        padding: 0 48px 0 8px;
        outline: 0;
        border-radius: 4px;
        background: transparent;
    }
    &__icon {
        @include center-absolute(false, true);
        @include center-flex();
        height: 36px;
        width: 36px;
        right: 8px;
        color: $c-accent1;
        font-weight: 700;
        cursor: pointer;
    }
}