/* Colors */
$c-bg: #fff;
$c-text: #808080;
$c-selection: #111;
$c-accent1: #4b85ff;
$c-accent2: #ae7eff;

/* Gradients */
$g-x: linear-gradient(to right, $c-accent1, $c-accent2);
$g-y: linear-gradient(to bottom, $c-accent1, $c-accent2);

/* Font stacks */
$f-headers: 'Montserrat', sans-serif;
$f-body: 'Montserrat', sans-serif;
$f-base-size: 20px;

/* Transitions */
$t-regular: all .15s ease-out;